<!DOCTYPE html>
<html style=" height: 100%;">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Разработчики</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bodys">
<div class="container-fluid">
    <nav class="navbar navbar-light snav">
        <div class="container-fluid snav">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/games.png}" alt="" width="80" height="80"/>
            </a>
            <h2 class="whitetext">Разработчики и игры</h2>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-start "  >
            <div class="col-8 border bg-light px-4"  >
                <h3 class="text-dark">Разработчики</h3>
                <table class="table"  >
                    <thead>
                    <tr>
                        <th scope="col">Код</th>
                        <th scope="col">Название</th>
                        <th scope="col">Рейтинг</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="var : ${list}">
                        <td th:text="${var.getId()}"></td>
                        <td th:text="${var.getName()}"></td>
                        <td th:text="${var.getRating()}"></td>
                        <td>
                            <form action="#" th:action="@{/developers/refactor_first}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <input name="name" type="hidden" th:value="${var.getName()}"/>
                                <input name="rating" type="hidden" th:value="${var.getRating()}"/>
                                <button type="submit" class="btn btn-outline-primary"><img th:src="@{/img/refactor.png}"/></button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/developers/remove}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <button type="submit" class="btn btn-outline-primary"><img th:src="@{/img/remove.png}"/></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 border px-4">
                <form method="POST" th:action="@{/developers/save}" th:object="${dev}">
                    <h3 style="color: white">Новая запись</h3>
                    <div class="mb-3">
                        <div class="col-sm-6">

                            <label for="name" class="col-sm-3 col-form-label" style="color: white">Название</label>
                            <input type="text" name="inputname" class="form-control" id="name" th:field="*{name}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                            <label for="rating" class="col-sm-3 col-form-label" style="color: white">Рейтинг</label>
                            <input type="text" name="inputrating" class="form-control" id="rating" th:field="*{rating}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></div>
                    </div>
                    </div>
                    <p>
                        <br>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <br>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>